.main-footer{
    background: whitesmoke;
    margin-top: 3rem;
    padding-top: 1.5rem;

}

.footer-bottom{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.socials-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

}

.socials-icons li{
    padding: 1rem;
}
